<!--
  Showing service instances are Singleton
  <p>
  Counter Value in User : {{ dataService.counter}}
  <button class="btn btn-default" (click)= "onIncrease()">Increase</button>
</p> -->



<ul class="list-unstyled">
  <li class="card"
  *ngFor="let user of users; index as i; first as isFirst;last as isLast; even as isEven; odd as isOdd;">
    <div class="row card-body">
      <div class="col-sm-3 col-md-3">
        <p>
          index : {{ i }} <br>
          is this first ? : {{ isFirst }} <br>
          is this last ? : {{ isLast }} <br>
          is this Even ? : {{ isEven }} <br>
          is this Odd ? : {{ isOdd }}
        </p>
        <app-user-image [user] = "user" (childEvent) = "onInfo($event)"></app-user-image>
      </div>

      <div class="col-sm-9 col-md-9">
        <app-user-info [user] = "user">
          <header>Header Info</header>
          <main class="main-content">Main Content</main>
          <footer>Footer Info</footer>
        </app-user-info>
      </div>
    </div>
  </li>
</ul>

