<!-- <ng-content select = "header"></ng-content> -->

<h2 appHighlight [myColor]="'yellow'">
  <!-- <span [innerHTML]="user.firstName"></span> -->
  {{ user.firstName }}
  <span [innerHTML]="user.lastName"></span>
</h2>


<!-- <p [ngClass]="['my-border', 'feature']">Date of Birth : {{ user.dob }}</p> -->
<!-- <p [ngClass]="{'my-border' : true, 'feature' : false}">Date of Birth : {{ user.dob }}</p> -->

<p [ngClass]="dynamicClasses">
  Date of Birth : {{ user.dob }} <br>
  <button type="button" class="btn btn-default btn-sm" (click) = "onToggle()">
    Toggle Class
  </button>
</p>

<!-- <ng-content select=".main-content"></ng-content> -->

<p *ngIf="user.isWorking; else elseTemplate" [ngStyle] = "{'color' : 'red'}">
  Income : {{ user.income }}</p>

<p>Total Votes : {{ user.vote }}
  <input type="number" [value]="user.vote" (change)="user.vote = $event.target.value">
  <input type="text" [(ngModel)]="user.vote">
</p>

<!-- <ng-content select = "footer"></ng-content> -->

<ng-template #elseTemplate>
  <p>Mr. {{ user.lastName }} is NOT working now!</p>
</ng-template>
